h1 {
  text-align: center; /* Center the main heading */
  font-size: 2.5em; /* Size of the heading */
  color: #282c34; /* Dark color for contrast */
  margin: 20px 0; /* Margin for spacing above and below */
  text-decoration: underline;
}

.subHeading {
  text-align: center; /* Center the subheading */
  font-size: 2.5em; /* Slightly smaller than the main heading */
  color: #07c9ff; /* Lighter color for contrast */
  margin: 10px 0; /* Margin for spacing */
  font-weight: 400; /* Normal weight for a softer look */
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  /* Allow wrapping */
  width: 60%;
  /* Set the width to 60% of the page */
  justify-content: center;
  /* Center the cards in the container */
  margin: 20px auto;
  /* Center the container with auto margins */
}

.card {
  flex: 1 1 auto;
  /* Allow flexibility in card sizing */
  min-width: 150px;
  /* Minimum width for each card */
  margin: 10px;
  /* Optional spacing between cards */

  background-color: rgba(238, 238, 238, 255);
  /* Background color for the card */
  border: 1px solid #ccc;
  /* Light gray border */
  border-radius: 8px;
  /* Rounded corners */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  /* Subtle shadow */
  transition: transform 0.2s;
  /* Smooth transition for hover effect */
}

.card:hover {
  transform: translateY(-5px);
  /* Slight lift on hover */
}